<a href="https://colab.research.google.com/github/samirgadkari/cia_factbook_analysis/blob/master/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
infant_mortality_rate = pd.read_csv('2091',
                          names = ['Country', 'Metric', 'Year', 
                                   'Deaths per 1000 births'],
                          usecols = ['Country', 'Year', 
                                     'Deaths per 1000 births'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Deaths per 1000 births': np.float64},
                          header = None
                        )
land_use = pd.read_csv('2097',
                          names = ['Country', 'Metric', 'Year', 'Arable Land',
                                   'Permanent Crops', 'Other Land Use'],
                          usecols = ['Country', 'Year', 'Arable Land',
                                   'Permanent Crops', 'Other Land Use'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Arable Land': np.float64,
                                   'Permanent Crops': np.float64,
                                   'Other Land Use': np.float64},
                          header = None
                        )
age_structure = pd.read_csv('2010',
                          names = ['Country', 'Metric', 'Year', 
                                   '% 0-14 years',
                                   '% 15-64 years',
                                   '% 65 and older'],
                          usecols = ['Country', 'Year',  
                                   '% 0-14 years',
                                   '% 15-64 years',
                                   '% 65 and older'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   '% 0-14 years': np.float64,
                                   '% 15-64 years': np.float64,
                                   '% 65 and older': np.float64},
                          header = None
                        )
electricity_production = pd.read_csv('2038',
                          names = ['Country', 'Metric', 'Year', 
                                   'Electricity Produced (kWh)'],
                          usecols = ['Country', 'Year', 
                                     'Electricity Produced (kWh)'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Electricity Produced (kWh)': np.float64},
                          header = None
                        )
irrigated_land = pd.read_csv('2146',
                          names = ['Country', 'Metric', 'Year', 
                                   'Irrigated Land (sq km)'],
                          usecols = ['Country', 'Year', 
                                     'Irrigated Land (sq km)'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Irrigated Land (sq km)': np.float64},
                          header = None
                        )
aids_prevalence_rate = pd.read_csv('2155',
                          names = ['Country', 'Metric', 'Year', 
                                   'HIV/AIDS in adults %'],
                          usecols = ['Country', 'Year', 
                                     'HIV/AIDS in adults %'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'HIV/AIDS in adults %': np.float64},
                          header = None
                        )
literacy_rate = pd.read_csv('2103',
                          names = ['Country', 'Metric', 'Year', 
                                   'Literacy Rate'],
                          usecols = ['Country', 'Year', 
                                     'Literacy Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Literacy Rate': np.float64},
                          header = None
                        )
gdp_per_capita = pd.read_csv('2004',
                          names = ['Country', 'Metric', 'Year', 
                                   'GDP per capita'],
                          usecols = ['Country', 'Year', 
                                     'GDP per capita'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'GDP per capita': np.float64},
                          header = None
                        )
gdp_per_sector = pd.read_csv('2012',
                          names = ['Country', 'Metric', 'Year', 
                                   'GDP - Agriculture', 
                                   'GDP - Industry', 
                                   'GDP - Services'],
                          usecols = ['Country', 'Year', 
                                   'GDP - Agriculture', 
                                   'GDP - Industry', 
                                   'GDP - Services'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'GDP - Agriculture': np.float64,
                                   'GDP - Industry': np.float64,
                                   'GDP - Services': np.float64},
                          header = None
                        )
labor_force = pd.read_csv('2095',
                          names = ['Country', 'Metric', 'Year', 
                                   'Labor Force'],
                          usecols = ['Country', 'Year', 'Labor Force'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Labor Force': np.float64},
                          header = None
                        )
unemployment_rate = pd.read_csv('2129',
                          names = ['Country', 'Metric', 'Year', 
                                   'Unemployment Rate'],
                          usecols = ['Country', 'Year', 
                                     'Unemployment Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Unemployment Rate': np.float64},
                          header = None
                        )
budget = pd.read_csv('2056',
                          names = ['Country', 'Metric', 'Year', 
                                   'Budget - Revenues', 
                                   'Budget - Expenditures'],
                          usecols = ['Country', 'Year', 
                                   'Budget - Revenues', 
                                   'Budget - Expenditures'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Budget - Revenues': np.float64,
                                   'Budget - Expenditures': np.float64},
                          header = None
                        )
industrial_production_growth_rate = pd.read_csv('2089',
                          names = ['Country', 'Metric', 'Year', 
                                   'Industrial Production Growth Rate'],
                          usecols = ['Country', 'Year', 
                                     'Industrial Production Growth Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Industrial Production Growth Rate': np.float64},
                          header = None
                        )
exports = pd.read_csv('2078',
                          names = ['Country', 'Metric', 'Year', 'Exports - USD'],
                          usecols = ['Country', 'Year', 'Exports - USD'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Exports - USD': np.float64},
                          header = None
                        )
imports = pd.read_csv('2087',
                          names = ['Country', 'Metric', 'Year', 'Imports - USD'],
                          usecols = ['Country', 'Year', 'Imports - USD'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Imports - USD': np.float64},
                          header = None
                        )
external_debt = pd.read_csv('2079',
                          names = ['Country', 'Metric', 'Year', 'External debt'],
                          usecols = ['Country', 'Year', 'External debt'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'External debt': np.float64},
                          header = None
                        )
economic_aid_recipient = pd.read_csv('2064',
                          names = ['Country', 'Metric', 'Year', 
                                   'Economic Aid received'],
                          usecols = ['Country', 'Year', 'Economic Aid received'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Economic Aid received': np.float64},
                          header = None
                        )
government_type = pd.read_csv('2128',
                          names = ['Country', 'Metric', 'Year', 
                                   'Type of Government'],
                          usecols = ['Country', 'Year', 'Type of Government'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Type of Government': str},
                          header = None
                        )

In [5]:
def add_columns_to_df(df1, df2):
  df1 = df1.reset_index()
  df2 = df2.reset_index()
  res = pd.merge(df1, df2, on = ['Country', 'Year'], how = 'outer')
  res = res.set_index(['Country', 'Year'])
  return res


all_data = add_columns_to_df(land_use, infant_mortality_rate)

add_dfs = [age_structure, electricity_production, irrigated_land,
            aids_prevalence_rate, literacy_rate, gdp_per_capita,
            gdp_per_sector, labor_force, unemployment_rate,
            budget, industrial_production_growth_rate, exports,
            imports, external_debt, economic_aid_recipient,
            government_type]
for df in add_dfs:
  all_data = add_columns_to_df(all_data, df)

all_data.sort_index(level = ['Country', 'Year'], inplace = True)
all_data

                  Arable Land  Permanent Crops  Other Land Use  \
Country     Year
Afghanistan 1990          NaN              NaN             NaN
            1996          NaN              NaN             NaN
            1998        12.13             0.22           87.65
            1999          NaN              NaN             NaN
            2000          NaN              NaN             NaN
            2001        12.13             0.22           87.65
            2002        12.13             0.22           87.65
            2003        12.13             0.22           87.65
            2004        12.13             0.22           87.65
            2005        12.13             0.22           87.65
            2006        12.13             0.21           87.66
            2007        12.13             0.21           87.66
            2008        12.13             0.21           87.66
            2011        58.10             2.10           39.80
            2012          NaN              NaN             NaN
            2013          NaN              NaN             NaN
            2014        58.07             2.07           39.86
            2015        58.10             2.10           39.80
            2016        58.10             2.10           39.80
            2017        58.07             2.07           39.86
Albania     1997          NaN              NaN             NaN
            1998        21.09             4.45           74.46
            1999          NaN              NaN             NaN
            2000          NaN              NaN             NaN
            2001        21.09             4.42           74.49
            2002        21.09             4.45           74.46
            2003        21.09             4.45           74.46
            2004        21.09             4.42           74.49
            2005        21.09             4.42           74.49
            2006        20.10             4.21           75.69
...                       ...              ...             ...
Zambia      2006         6.99             0.04           92.97
            2007         6.99             0.04           92.97
            2008         6.99             0.04           92.97
            2011        31.70            66.30            2.00
            2012          NaN              NaN             NaN
            2013          NaN              NaN             NaN
            2014          NaN              NaN             NaN
            2015        31.70            66.30            2.00
            2016        31.70            66.30            2.00
            2017        31.70            66.30            2.00
Zimbabwe    1995          NaN              NaN             NaN
            1998         8.40             0.34           91.26
            1999          NaN              NaN             NaN
            2000          NaN              NaN             NaN
            2001         8.32             0.34           91.34
            2002         8.40             0.34           91.26
            2003         8.40             0.34           91.26
            2004         8.32             0.34           91.34
            2005         8.32             0.34           91.34
            2006         8.24             0.33           91.43
            2007         8.24             0.33           91.43
            2008         8.24             0.33           91.43
            2009          NaN              NaN             NaN
            2011        42.50            39.50           18.00
            2012          NaN              NaN             NaN
            2013          NaN              NaN             NaN
            2014          NaN              NaN             NaN
            2015        42.50            39.50           18.00
            2016        42.50            39.50           18.00
            2017        42.50            39.50           18.00

                  Deaths per 1000 births  % 0-14 years  % 15-64 years  \
Country     Year
Afghanistan 1990                     NaN           NaN            NaN
            1996                     NaN           NaN            NaN
            1998                     NaN           NaN            NaN
            1999                     NaN           NaN            NaN
            2000                     NaN           NaN            NaN
            2001                     NaN           NaN            NaN
            2002                  144.76         42.00          55.20
            2003                  142.48         41.80          55.40
            2004                  165.96         44.70          52.90
            2005                  163.07         44.70          52.90
            2006                  160.23         44.60          53.00
            2007                  157.43         44.60          53.00
            2008                  154.67         44.60          53.00
            2011                     NaN           NaN            NaN
            2012                     NaN           NaN            NaN
            2013                     NaN           NaN            NaN
            2014                     NaN           NaN            NaN
            2015                  115.08         41.47          22.41
            2016                  112.80         41.03          22.49
            2017                  110.60         40.92          22.22
Albania     1997                     NaN           NaN            NaN
            1998                     NaN           NaN            NaN
            1999                     NaN           NaN            NaN
            2000                     NaN           NaN            NaN
            2001                     NaN           NaN            NaN
            2002                   38.64         28.80          64.00
            2003                   37.28         28.10          64.60
            2004                   22.31         26.40          65.30
            2005                   21.52         25.60          65.80
            2006                   20.75         24.80          66.30
...                                  ...           ...            ...
Zambia      2006                   86.84         46.30          51.30
            2007                  100.71         45.70          51.90
            2008                  100.96         45.40          52.30
            2011                     NaN           NaN            NaN
            2012                     NaN           NaN            NaN
            2013                     NaN           NaN            NaN
            2014                     NaN           NaN            NaN
            2015                   64.72         46.12          20.02
            2016                   62.90         46.08          20.00
            2017                   61.10         46.03          20.00
Zimbabwe    1995                     NaN           NaN            NaN
            1998                     NaN           NaN            NaN
            1999                     NaN           NaN            NaN
            2000                     NaN           NaN            NaN
            2001                     NaN           NaN            NaN
            2002                   62.97         37.90          58.40
            2003                   66.47         39.70          56.80
            2004                   67.08         39.40          57.00
            2005                   67.69         39.20          57.10
            2006                   51.71         37.40          59.10
            2007                   51.12         37.20          59.30
            2008                   33.86         43.90          52.30
            2009                     NaN           NaN            NaN
            2011                     NaN           NaN            NaN
            2012                     NaN           NaN            NaN
            2013                     NaN           NaN            NaN
            2014                     NaN           NaN            NaN
            2015                   26.11         37.88          21.65
            2016                   25.90         37.80          21.29
            2017                   32.70         38.90          20.47

                  % 65 and older  Electricity Produced (kWh)  \
Country     Year
Afghanistan 1990             NaN                         NaN
            1996             NaN                         NaN
            1998             NaN                         NaN
            1999             NaN                         NaN
            2000             NaN                3.750000e+08
            2001             NaN                3.348000e+08
            2002             2.8                3.750000e+08
            2003             2.8                3.348000e+08
            2004             2.4                3.348000e+08
            2005             2.4                5.400000e+08
            2006             2.4                9.050000e+08
            2007             2.4                7.542000e+08
            2008             2.4                8.390000e+08
            2011             NaN                         NaN
            2012             NaN                         NaN
            2013             NaN                         NaN
            2014             NaN                         NaN
            2015            54.0                         NaN
            2016            54.0                         NaN
            2017            54.0                         NaN
Albania     1997             NaN                         NaN
            1998             NaN                         NaN
            1999             NaN                         NaN
            2000             NaN                4.738000e+09
            2001             NaN                5.289000e+09
            2002             7.2                4.738000e+09
            2003             7.3                5.289000e+09
            2004             8.3                5.289000e+09
            2005             8.6                5.680000e+09
            2006             8.9                5.680000e+09
...                          ...                         ...
Zambia      2006             2.4                8.347000e+09
            2007             2.4                8.850000e+09
            2008             2.4                9.289000e+09
            2011             NaN                         NaN
            2012             NaN                         NaN
            2013             NaN                         NaN
            2014             NaN                         NaN
            2015            54.0                         NaN
            2016            54.0                         NaN
            2017            54.0                         NaN
Zimbabwe    1995             NaN                         NaN
            1998             NaN                         NaN
            1999             NaN                         NaN
            2000             NaN                6.425000e+09
            2001             NaN                6.735000e+09
            2002             3.7                6.425000e+09
            2003             3.5                6.735000e+09
            2004             3.6                6.735000e+09
            2005             3.7                8.839000e+09
            2006             3.5                8.877000e+09
            2007             3.5                9.950000e+09
            2008             3.9                9.467000e+09
            2009             NaN                         NaN
            2011             NaN                         NaN
            2012             NaN                         NaN
            2013             NaN                         NaN
            2014             NaN                         NaN
            2015            54.0                         NaN
            2016            54.0                         NaN
            2017            54.0                         NaN

                  Irrigated Land (sq km)  HIV/AIDS in adults %  \
Country     Year
Afghanistan 1990                     NaN                   NaN
            1996                     NaN                   NaN
            1998                 23860.0                   NaN
            1999                     NaN                  0.01
            2000                     NaN                   NaN
            2001                     NaN                  0.01
            2002                 23860.0                  0.01
            2003                 23860.0                  0.01
            2004                 23860.0                  0.01
            2005                 23860.0                  0.01
            2006                 27200.0                  0.01
            2007                 27200.0                  0.01
            2008                 27200.0                  0.01
            2011                 21760.0                   NaN
            2012                 32080.0                   NaN
            2013                     NaN                  0.03
            2014                     NaN                   NaN
            2015                 21760.0                  0.03
            2016                 32080.0                  0.04
            2017                 32080.0                  1.00
Albania     1997                     NaN                   NaN
            1998                  3400.0                   NaN
            1999                     NaN                  0.01
            2000                     NaN                   NaN
            2001                     NaN                   NaN
            2002                  3400.0                  0.01
            2003                  3400.0                   NaN
            2004                  3400.0                   NaN
            2005                  3400.0                   NaN
            2006                  3530.0                   NaN
...                                  ...                   ...
Zambia      2006                  1560.0                 16.50
            2007                  1560.0                 16.50
            2008                  1560.0                 16.50
            2011                     NaN                   NaN
            2012                  1560.0                   NaN
            2013                     NaN                 12.50
            2014                     NaN                   NaN
            2015                  1559.0                 12.50
            2016                  1560.0                 12.91
            2017                  1560.0                 12.40
Zimbabwe    1995                     NaN                   NaN
            1998                  1170.0                   NaN
            1999                     NaN                 25.06
            2000                     NaN                   NaN
            2001                     NaN                 24.60
            2002                  1170.0                 25.06
            2003                  1170.0                 33.70
            2004                  1170.0                 33.70
            2005                  1170.0                 24.60
            2006                  1740.0                 24.60
            2007                  1740.0                 24.60
            2008                  1740.0                 24.60
            2009                     NaN                   NaN
            2011                     NaN                   NaN
            2012                  1740.0                   NaN
            2013                     NaN                 14.99
            2014                     NaN                   NaN
            2015                  1735.0                 14.99
            2016                  1740.0                 14.69
            2017                  1740.0                 13.50

                           ...             Labor Force  Unemployment Rate  \
Country     Year           ...
Afghanistan 1990           ...                     NaN                NaN
            1996           ...                     NaN                NaN
            1998           ...                     NaN                NaN
            1999           ...                     NaN                NaN
            2000           ...              10000000.0                NaN
            2001           ...              11800000.0                NaN
            2002           ...              10000000.0                NaN
            2003           ...              10000000.0                NaN
            2004           ...              11800000.0                NaN
            2005           ...              11800000.0               40.0
            2006           ...              15000000.0               40.0
            2007           ...              15000000.0               40.0
            2008           ...              15000000.0               40.0
            2011           ...                     NaN                NaN
            2012           ...               7512000.0                NaN
            2013           ...               7983000.0                NaN
            2014           ...                     NaN                NaN
            2015           ...               7512000.0               35.0
            2016           ...               7983000.0               35.0
            2017           ...               7983000.0               35.0
Albania     1997           ...                     NaN                NaN
            1998           ...                     NaN                NaN
            1999           ...                     NaN                NaN
            2000           ...               1283000.0                NaN
            2001           ...                     NaN               14.8
            2002           ...               1283000.0                NaN
            2003           ...               1283000.0               17.0
            2004           ...               1350000.0               15.8
            2005           ...               1090000.0               14.8
            2006           ...               1090000.0               14.3
...                        ...                     ...                ...
Zambia      2006           ...               4800000.0               50.0
            2007           ...               4920000.0               50.0
            2008           ...               4989000.0               50.0
            2011           ...                     NaN                NaN
            2012           ...                     NaN                NaN
            2013           ...                     NaN                NaN
            2014           ...               6338000.0                NaN
            2015           ...               6338000.0               15.0
            2016           ...               6895000.0               15.0
            2017           ...               6690000.0               15.0
Zimbabwe    1995           ...                     NaN                NaN
            1998           ...                     NaN                NaN
            1999           ...                     NaN                NaN
            2000           ...               5800000.0                NaN
            2001           ...                     NaN               60.0
            2002           ...               5500000.0               60.0
            2003           ...               5800000.0               70.0
            2004           ...               4170000.0               70.0
            2005           ...               4230000.0               70.0
            2006           ...               3940000.0               80.0
            2007           ...               3990000.0               80.0

In [15]:
print('Percentage of NAs in this data:', 
      all_data.isnull().sum().sum() / (all_data.shape[0] * all_data.shape[1]))
all_data.isnull().sum()

Percentage of NAs in this data: 0.49523456790123455

Arable Land                          1603
Permanent Crops                      1603
Other Land Use                       1616
Deaths per 1000 births               2599
% 0-14 years                         2554
% 15-64 years                        2578
% 65 and older                       2594
Electricity Produced (kWh)           2934
Irrigated Land (sq km)               2352
HIV/AIDS in adults %                 2827
Literacy Rate                        2910
GDP per capita                       1718
GDP - Agriculture                    2201
GDP - Industry                       2231
GDP - Services                       2235
Labor Force                          2204
Unemployment Rate                    2364
Budget - Revenues                    2389
Budget - Expenditures                2425
Industrial Production Growth Rate    2763
Exports - USD                        1965
Imports - USD                        1964
External debt                        2205
Economic Aid received                3542
Type of Government                   3795
dtype: int64

In [8]:
all_data.shape

(4860, 25)

In [12]:
# We interpolate this data, because countries are slow-moving.
# Even if we don't have some data, we can interpolate to get
# an approximate answer.
interpolated = all_data.interpolate(method = 'linear', 
                                    limit = 5, # don't fill more than 5 NaN values
                                    limit_ared = 'inside') # don't extrapolate
interpolated

                  Arable Land  Permanent Crops  Other Land Use  \
Country     Year
Afghanistan 1990          NaN              NaN             NaN
            1996          NaN              NaN             NaN
            1998    12.130000            0.220       87.650000
            1999    12.130000            0.220       87.650000
            2000    12.130000            0.220       87.650000
            2001    12.130000            0.220       87.650000
            2002    12.130000            0.220       87.650000
            2003    12.130000            0.220       87.650000
            2004    12.130000            0.220       87.650000
            2005    12.130000            0.220       87.650000
            2006    12.130000            0.210       87.660000
            2007    12.130000            0.210       87.660000
            2008    12.130000            0.210       87.660000
            2011    58.100000            2.100       39.800000
            2012    58.090000            2.090       39.820000
            2013    58.080000            2.080       39.840000
            2014    58.070000            2.070       39.860000
            2015    58.100000            2.100       39.800000
            2016    58.100000            2.100       39.800000
            2017    58.070000            2.070       39.860000
Albania     1997    39.580000            3.260       57.160000
            1998    21.090000            4.450       74.460000
            1999    21.090000            4.440       74.470000
            2000    21.090000            4.430       74.480000
            2001    21.090000            4.420       74.490000
            2002    21.090000            4.450       74.460000
            2003    21.090000            4.450       74.460000
            2004    21.090000            4.420       74.490000
            2005    21.090000            4.420       74.490000
            2006    20.100000            4.210       75.690000
...                       ...              ...             ...
Zambia      2006     6.990000            0.040       92.970000
            2007     6.990000            0.040       92.970000
            2008     6.990000            0.040       92.970000
            2011    31.700000           66.300        2.000000
            2012    31.700000           66.300        2.000000
            2013    31.700000           66.300        2.000000
            2014    31.700000           66.300        2.000000
            2015    31.700000           66.300        2.000000
            2016    31.700000           66.300        2.000000
            2017    31.700000           66.300        2.000000
Zimbabwe    1995    20.050000           33.320       46.630000
            1998     8.400000            0.340       91.260000
            1999     8.373333            0.340       91.286667
            2000     8.346667            0.340       91.313333
            2001     8.320000            0.340       91.340000
            2002     8.400000            0.340       91.260000
            2003     8.400000            0.340       91.260000
            2004     8.320000            0.340       91.340000
            2005     8.320000            0.340       91.340000
            2006     8.240000            0.330       91.430000
            2007     8.240000            0.330       91.430000
            2008     8.240000            0.330       91.430000
            2009    25.370000           19.915       54.715000
            2011    42.500000           39.500       18.000000
            2012    42.500000           39.500       18.000000
            2013    42.500000           39.500       18.000000
            2014    42.500000           39.500       18.000000
            2015    42.500000           39.500       18.000000
            2016    42.500000           39.500       18.000000
            2017    42.500000           39.500       18.000000

                  Deaths per 1000 births  % 0-14 years  % 15-64 years  \
Country     Year
Afghanistan 1990                     NaN           NaN            NaN
            1996                     NaN           NaN            NaN
            1998                     NaN           NaN            NaN
            1999                     NaN           NaN            NaN
            2000                     NaN           NaN            NaN
            2001                     NaN           NaN            NaN
            2002              144.760000     42.000000      55.200000
            2003              142.480000     41.800000      55.400000
            2004              165.960000     44.700000      52.900000
            2005              163.070000     44.700000      52.900000
            2006              160.230000     44.600000      53.000000
            2007              157.430000     44.600000      53.000000
            2008              154.670000     44.600000      53.000000
            2011              146.752000     43.974000      46.882000
            2012              138.834000     43.348000      40.764000
            2013              130.916000     42.722000      34.646000
            2014              122.998000     42.096000      28.528000
            2015              115.080000     41.470000      22.410000
            2016              112.800000     41.030000      22.490000
            2017              110.600000     40.920000      22.220000
Albania     1997               98.606667     38.900000      29.183333
            1998               86.613333     36.880000      36.146667
            1999               74.620000     34.860000      43.110000
            2000               62.626667     32.840000      50.073333
            2001               50.633333     30.820000      57.036667
            2002               38.640000     28.800000      64.000000
            2003               37.280000     28.100000      64.600000
            2004               22.310000     26.400000      65.300000
            2005               21.520000     25.600000      65.800000
            2006               20.750000     24.800000      66.300000
...                                  ...           ...            ...
Zambia      2006               86.840000     46.300000      51.300000
            2007              100.710000     45.700000      51.900000
            2008              100.960000     45.400000      52.300000
            2011               93.712000     45.544000      45.844000
            2012               86.464000     45.688000      39.388000
            2013               79.216000     45.832000      32.932000
            2014               71.968000     45.976000      26.476000
            2015               64.720000     46.120000      20.020000
            2016               62.900000     46.080000      20.000000
            2017               61.100000     46.030000      20.000000
Zimbabwe    1995               61.411667     44.675000      26.400000
            1998               61.723333     43.320000      32.800000
            1999               62.035000     41.965000      39.200000
            2000               62.346667     40.610000      45.600000
            2001               62.658333     39.255000      52.000000
            2002               62.970000     37.900000      58.400000
            2003               66.470000     39.700000      56.800000
            2004               67.080000     39.400000      57.000000
            2005               67.690000     39.200000      57.100000
            2006               51.710000     37.400000      59.100000
            2007               51.120000     37.200000      59.300000
            2008               33.860000     43.900000      52.300000
            2009               32.568333     42.896667      47.191667
            2011               31.276667     41.893333      42.083333
            2012               29.985000     40.890000      36.975000
            2013               28.693333     39.886667      31.866667
            2014               27.401667     38.883333      26.758333
            2015               26.110000     37.880000      21.650000
            2016               25.900000     37.800000      21.290000
            2017               32.700000     38.900000      20.470000

                  % 65 and older  Electricity Produced (kWh)  \
Country     Year
Afghanistan 1990             NaN                         NaN
            1996             NaN                         NaN
            1998             NaN                         NaN
            1999             NaN                         NaN
            2000             NaN                3.750000e+08
            2001             NaN                3.348000e+08
            2002        2.800000                3.750000e+08
            2003        2.800000                3.348000e+08
            2004        2.400000                3.348000e+08
            2005        2.400000                5.400000e+08
            2006        2.400000                9.050000e+08
            2007        2.400000                7.542000e+08
            2008        2.400000                8.390000e+08
            2011       12.720000                1.193455e+09
            2012       23.040000                1.547909e+09
            2013       33.360000                1.902364e+09
            2014       43.680000                2.256818e+09
            2015       54.000000                2.611273e+09
            2016       54.000000                         NaN
            2017       54.000000                         NaN
Albania     1997       46.200000                         NaN
            1998       38.400000                         NaN
            1999       30.600000                         NaN
            2000       22.800000                4.738000e+09
            2001       15.000000                5.289000e+09
            2002        7.200000                4.738000e+09
            2003        7.300000                5.289000e+09
            2004        8.300000                5.289000e+09
            2005        8.600000                5.680000e+09
            2006        8.900000                5.680000e+09
...                          ...                         ...
Zambia      2006        2.400000                8.347000e+09
            2007        2.400000                8.850000e+09
            2008        2.400000                9.289000e+09
            2011       12.720000                9.028636e+09
            2012       23.040000                8.768273e+09
            2013       33.360000                8.507909e+09
            2014       43.680000                8.247545e+09
            2015       54.000000                7.987182e+09
            2016       54.000000                         NaN
            2017       54.000000                         NaN
Zimbabwe    1995       45.616667                         NaN
            1998       37.233333                         NaN
            1999       28.850000                         NaN
            2000       20.466667                6.425000e+09
            2001       12.083333                6.735000e+09
            2002        3.700000                6.425000e+09
            2003        3.500000                6.735000e+09
            2004        3.600000                6.735000e+09
            2005        3.700000                8.839000e+09
            2006        3.500000                8.877000e+09
            2007        3.500000                9.950000e+09
            2008        3.900000                9.467000e+09
            2009       12.250000                9.467000e+09
            2011       20.600000                9.467000e+09
            2012       28.950000                9.467000e+09
            2013       37.300000                9.467000e+09
            2014       45.650000                9.467000e+09
            2015       54.000000                         NaN
            2016       54.000000                         NaN
            2017       54.000000                         NaN

                  Irrigated Land (sq km)  HIV/AIDS in adults %  \
Country     Year
Afghanistan 1990                     NaN                   NaN
            1996                     NaN                   NaN
            1998            23860.000000                   NaN
            1999            23860.000000              0.010000
            2000            23860.000000              0.010000
            2001            23860.000000              0.010000
            2002            23860.000000              0.010000
            2003            23860.000000              0.010000
            2004            23860.000000              0.010000
            2005            23860.000000              0.010000
            2006            27200.000000              0.010000
            2007            27200.000000              0.010000
            2008            27200.000000              0.010000
            2011            21760.000000              0.016667
            2012            32080.000000              0.023333
            2013            28640.000000              0.030000
            2014            25200.000000              0.030000
            2015            21760.000000              0.030000
            2016            32080.000000              0.040000
            2017            32080.000000              1.000000
Albania     1997            17740.000000              0.670000
            1998             3400.000000              0.340000
            1999             3400.000000              0.010000
            2000             3400.000000              0.010000
            2001             3400.000000              0.010000
            2002             3400.000000              0.010000
            2003             3400.000000              0.013333
            2004             3400.000000              0.016667
            2005             3400.000000              0.020000
            2006             3530.000000              0.023333
...                                  ...                   ...
Zambia      2006             1560.000000             16.500000
            2007             1560.000000             16.500000
            2008             1560.000000             16.500000
            2011             1560.000000             15.166667
            2012             1560.000000             13.833333
            2013             1559.666667             12.500000
            2014             1559.333333             12.500000
            2015             1559.000000             12.500000
            2016             1560.000000             12.910000
            2017             1560.000000             12.400000
Zimbabwe    1995             1365.000000             16.620000
            1998             1170.000000             20.840000
            1999             1170.000000             25.060000
            2000             1170.000000             24.830000
            2001             1170.000000             24.600000
            2002             1170.000000             25.060000
            2003             1170.000000             33.700000
            2004             1170.000000             33.700000
            2005             1170.000000             24.600000
            2006             1740.000000             24.600000
            2007             1740.000000             24.600000
            2008             1740.000000             24.600000
            2009             1740.000000             22.197500
            2011             1740.000000             19.795000
            2012             1740.000000             17.392500
            2013             1738.333333             14.990000
            2014             1736.666667             14.990000
            2015             1735.000000             14.990000
            2016             1740.000000             14.690000
            2017             1740.000000             13.500000

                           ...             Labor Force  Unemployment Rate  \
Country     Year           ...
Afghanistan 1990           ...                     NaN                NaN
            1996           ...                     NaN                NaN
            1998           ...                     NaN                NaN
            1999           ...                     NaN                NaN
            2000           ...              10000000.0                NaN
            2001           ...              11800000.0                NaN
            2002           ...              10000000.0                NaN
            2003           ...              10000000.0                NaN
            2004           ...              11800000.0                NaN
            2005           ...              11800000.0              40.00
            2006           ...              15000000.0              40.00
            2007           ...              15000000.0              40.00
            2008           ...              15000000.0              40.00
            2011           ...              11256000.0              39.00
            2012           ...               7512000.0              38.00
            2013           ...               7983000.0              37.00
            2014           ...               7747500.0              36.00
            2015           ...               7512000.0              35.00
            2016           ...               7983000.0              35.00
            2017           ...               7983000.0              35.00
Albania     1997           ...               6308000.0              30.96
            1998           ...               4633000.0              26.92
            1999           ...               2958000.0              22.88
            2000           ...               1283000.0              18.84
            2001           ...               1283000.0              14.80
            2002           ...               1283000.0              15.90
            2003           ...               1283000.0              17.00
            2004           ...               1350000.0              15.80
            2005           ...               1090000.0              14.80
            2006           ...               1090000.0              14.30
...                        ...                     ...                ...
Zambia      2006           ...               4800000.0              50.00
            2007           ...               4920000.0              50.00
            2008           ...               4989000.0              50.00
            2011           ...               5326250.0              43.00
            2012           ...               5663500.0              36.00
            2013           ...               6000750.0              29.00
            2014           ...               6338000.0              22.00
            2015           ...               6338000.0              15.00
            2016           ...               6895000.0              15.00
            2017           ...               6690000.0              15.00
Zimbabwe    1995           ...               6467500.0              24.00
            1998           ...               6245000.0              33.00
            1999           ...               6022500.0              42.00
            2000           ...               5800000.0              51.00
            2001           ...               5650000.0              60.00
            2002           ...               5500000.0              60.00
            2003           ...               5800000.0              70.00
            2004           ...               4170000.0              70.00
            2005           ...               4230000.0              70.00
            2006           ...               3940000.0              80.00
            2007           ...               3990000.0              80.00

In [16]:
print('Percentage of NAs in this data:', 
      interpolated.isnull().sum().sum() / (all_data.shape[0] * all_data.shape[1]))
interpolated.isna().sum()

Percentage of NAs in this data: 0.16894650205761316

Arable Land                            90
Permanent Crops                        90
Other Land Use                         93
Deaths per 1000 births                522
% 0-14 years                          449
% 15-64 years                         509
% 65 and older                        535
Electricity Produced (kWh)           1816
Irrigated Land (sq km)                584
HIV/AIDS in adults %                 1554
Literacy Rate                        1109
GDP per capita                        373
GDP - Agriculture                     485
GDP - Industry                        523
GDP - Services                        525
Labor Force                           404
Unemployment Rate                     762
Budget - Revenues                     616
Budget - Expenditures                 651
Industrial Production Growth Rate    1189
Exports - USD                         450
Imports - USD                         453
External debt                         801
Economic Aid received                2149
Type of Government                   3795
dtype: int64