<a href="https://colab.research.google.com/github/samirgadkari/cia_factbook_analysis/blob/master/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
infant_mortality_rate = pd.read_csv('2091',
                          names = ['Country', 'Metric', 'Year', 
                                   'Deaths per 1000 births'],
                          usecols = ['Country', 'Year', 
                                     'Deaths per 1000 births'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Deaths per 1000 births': np.float64},
                          header = None
                        )
land_use = pd.read_csv('2097',
                          names = ['Country', 'Metric', 'Year', 'Arable Land',
                                   'Permanent Crops', 'Other'],
                          usecols = ['Country', 'Year', 'Arable Land',
                                   'Permanent Crops', 'Other'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Arable Land': np.float64,
                                   'Permanent Crops': np.float64,
                                   'Other': np.float64},
                          header = None
                        )
age_structure = pd.read_csv('2010',
                          names = ['Country', 'Metric', 'Year', 
                                   '% 0-14 years',
                                   '% 15-64 years',
                                   '% 65 and older'],
                          usecols = ['Country', 'Year',  
                                   '% 0-14 years',
                                   '% 15-64 years',
                                   '% 65 and older'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   '% 0-14 years': np.float64,
                                   '% 15-64 years': np.float64,
                                   '% 65 and older': np.float64},
                          header = None
                        )
electricity_production = pd.read_csv('2038',
                          names = ['Country', 'Metric', 'Year', 
                                   'kWh'],
                          usecols = ['Country', 'Year', 
                                     'kWh'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'kWh': np.float64},
                          header = None
                        )
irrigated_land = pd.read_csv('2146',
                          names = ['Country', 'Metric', 'Year', 
                                   'sq km'],
                          usecols = ['Country', 'Year', 'sq km'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'sq km': np.float64},
                          header = None
                        )
aids_prevalence_rate = pd.read_csv('2155',
                          names = ['Country', 'Metric', 'Year', 
                                   'adult %'],
                          usecols = ['Country', 'Year', 'adult %'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'adult %': np.float64},
                          header = None
                        )
literacy_rate = pd.read_csv('2103',
                          names = ['Country', 'Metric', 'Year', 'rate'],
                          usecols = ['Country', 'Year', 'rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'rate': np.float64},
                          header = None
                        )
gdp_per_capita = pd.read_csv('2004',
                          names = ['Country', 'Metric', 'Year', 'per capita'],
                          usecols = ['Country', 'Year', 'per capita'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'per capita': np.float64},
                          header = None
                        )
gdp_per_sector = pd.read_csv('2012',
                          names = ['Country', 'Metric', 'Year', 
                                   'Agriculture', 'Industry', 'Services'],
                          usecols = ['Country', 'Year', 
                                   'Agriculture', 'Industry', 'Services'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Agriculture': np.float64,
                                   'Industry': np.float64,
                                   'Services': np.float64},
                          header = None
                        )
labor_force = pd.read_csv('2095',
                          names = ['Country', 'Metric', 'Year', 'Total'],
                          usecols = ['Country', 'Year', 'Total'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Total': np.float64},
                          header = None
                        )
unemployment_rate = pd.read_csv('2129',
                          names = ['Country', 'Metric', 'Year', 'Rate'],
                          usecols = ['Country', 'Year', 'Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Rate': np.float64},
                          header = None
                        )
budget = pd.read_csv('2056',
                          names = ['Country', 'Metric', 'Year', 
                                   'Revenues', 'Expenditures'],
                          usecols = ['Country', 'Year',  
                                   'Revenues', 'Expenditures'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Revenues': np.float64,
                                   'Expenditures': np.float64},
                          header = None
                        )
industrial_production_growth_rate = pd.read_csv('2089',
                          names = ['Country', 'Metric', 'Year', 'Rate'],
                          usecols = ['Country', 'Year', 'Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Rate': np.float64},
                          header = None
                        )
exports = pd.read_csv('2078',
                          names = ['Country', 'Metric', 'Year', 'Exports - USD'],
                          usecols = ['Country', 'Year', 'Exports - USD'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Exports - USD': np.float64},
                          header = None
                        )
imports = pd.read_csv('2087',
                          names = ['Country', 'Metric', 'Year', 'Imports - USD'],
                          usecols = ['Country', 'Year', 'Imports - USD'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Imports - USD': np.float64},
                          header = None
                        )
external_debt = pd.read_csv('2079',
                          names = ['Country', 'Metric', 'Year', 'External debt'],
                          usecols = ['Country', 'Year', 'External debt'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'External debt': np.float64},
                          header = None
                        )
economic_aid_recipient = pd.read_csv('2064',
                          names = ['Country', 'Metric', 'Year', 
                                   'Economic Aid'],
                          usecols = ['Country', 'Year', 'Economic Aid'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Economic Aid': np.float64},
                          header = None
                        )

government_type = pd.read_csv('2128',
                          names = ['Country', 'Metric', 'Year', 
                                   'Type of Government'],
                          usecols = ['Country', 'Year', 'Type of Government'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Type of Government': str},
                          header = None
                        )

In [0]:
print(land_use.index.levels[0].name,
      infant_mortality_rate.index.levels[0].name,
      land_use.index.levels[1].name,
      infant_mortality_rate.index.levels[1].name,
     )
all_data = pd.merge(land_use, infant_mortality_rate,
                     on = ['Country', 'Year'])
all_data

# all_data = pd.merge(government_type, infant_mortality_rate, 
#                     on = ['Country', 'Year'])
# all_data

Country Country Year Year

KeyError: ignored

In [0]:
original.head(5)

                    Data
Country     Year
Afghanistan 2002  144.76
            2003  142.48
            2004  165.96
            2005  163.07
            2006  160.23

In [0]:
np.where(original.index.duplicated()) # check for duplicates

(array([], dtype=int64),)

In [0]:
df = original

In [0]:
df.unstack(level = 2)

                        Data                                                   \
Year                    1990  1991  1992  1993  1994         1995  1996  1997
Country     Metric
Afghanistan 2004        None  None  None  None  None         None  None  None
            2010        None  None  None  None  None         None  None  None
            2012    60:20:20  None  None  None  None         None  None  None
            2038        None  None  None  None  None         None  None  None
            2056        None  None  None  None  None         None  None  None
            2064        None  None  None  None  None         None  None  None
            2078        None  None  None  None  None         None  None  None
            2079        None  None  None  None  None         None   NaN  None
            2087        None  None  None  None  None         None  None  None
            2089        None  None  None  None  None         None  None  None
            2091        None  None  None  None  None         None  None  None
            2095        None  None  None  None  None         None  None  None
            2097        None  None  None  None  None         None  None  None
            2103        None  None  None  None  None         None  None  None
            2129        None  None  None  None  None         None  None  None
            2146        None  None  None  None  None         None  None  None
            2155        None  None  None  None  None         None  None  None
Albania     2004        None  None  None  None  None         None  None  None
            2010        None  None  None  None  None         None  None  None
            2012        None  None  None  None  None         None  None  None
            2038        None  None  None  None  None         None  None  None
            2056        None  None  None  None  None         None  None  None
            2064        None  None  None  None  None         None  None  None
            2078        None  None  None  None  None         None  None  None
            2079        None  None  None  None  None         None  None  None
            2087        None  None  None  None  None         None  None  None
            2089        None  None  None  None  None         None  None  None
            2091        None  None  None  None  None         None  None  None
            2095        None  None  None  None  None         None  None  None
            2097        None  None  None  None  None         None  None  None
...                      ...   ...   ...   ...   ...          ...   ...   ...
Zambia      2056        None  None  None  None  None         None  None  None
            2064        None  None  None  None  None         None  None  None
            2078        None  None  None  None  None         None  None  None
            2079        None  None  None  None  None         None  None  None
            2087        None  None  None  None  None         None  None  None
            2089        None  None  None  None  None         None  None  None
            2091        None  None  None  None  None         None  None  None
            2095        None  None  None  None  None         None  None  None
            2097        None  None  None  None  None         None  None  None
            2103        None  None  None  None  None         None  None  None
            2129        None  None  None  None  None         None  None  None
            2146        None  None  None  None  None         None  None  None
            2155        None  None  None  None  None         None  None  None
Zimbabwe    2004        None  None  None  None  None         None  None  None
            2010        None  None  None  None  None         None  None  None
            2012        None  None  None  None  None         None  None  None
            2038        None  None  None  None  None         None  None  None
            2056        None  None  None  None  None         None  None  None
            2064        None  None  None  None  None         None  None  None
            2078        None  None  None  None  None         None  None  None
            2079        None  None  None  None  None         None  None  None
            2087        None  None  None  None  None         None  None  None
            2089        None  None  None  None  None         None  None  None
            2091        None  None  None  None  None         None  None  None
            2095        None  None  None  None  None         None  None  None
            2097        None  None  None  None  None         None  None  None
            2103        None  None  None  None  None  15:85:90:80  None  None
            2129        None  None  None  None  None         None  None  None
            2146        None  None  None  None  None         None  None  None
            2155        None  None  None  None  None         None  None  None

                                                   \
Year                            1998         1999
Country     Metric
Afghanistan 2004                None         None
            2010                None         None
            2012                None         None
            2038                None         None
            2056                None         None
            2064                None         None
            2078                None         None
            2079                None         None
            2087                None         None
            2089                None         None
            2091                None         None
            2095                None         None
            2097    12.13:0.22:87.65         None
            2103                None  15:36:51:21
            2129                None         None
            2146               23860         None
            2155                None         0.01
Albania     2004                None         None
            2010                None         None
            2012                None         None
            2038                None         None
            2056                None         None
            2064                None         None
            2078                None         None
            2079                None         None
            2087                None         None
            2089                None         None
            2091                None         None
            2095                None         None
            2097    21.09:4.45:74.46         None
...                              ...          ...
Zambia      2056                None         None
            2064                None         None
            2078                None         None
            2079                None         None
            2087                None         None
            2089                None         None
            2091                None         None
            2095                None         None
            2097     7.08:0.03:92.89         None
            2103                None         None
            2129                None         None
            2146                 460         None
            2155                None        19.95
Zimbabwe    2004                None         None
            2010                None         None
            2012                None         None
            2038                None         None
            2056                None         None
            2064                None         None
            2078                None         None
            2079                None         None
            2087                None         None
            2089                None         None
            2091                None         None
            2095                None         None
            2097      8.4:0.34:91.26         None
            2103                None         None
            2129                None         None
            2146                1170         None
            2155                None        25.06

                                          ...                          \
Year                                      ...
Country     Metric                        ...
Afghanistan 2004                          ...
            2010                          ...
            2012                          ...
            2038                          ...
            2056                          ...
            2064                          ...
            2078                          ...
            2079                          ...
            2087                          ...
            2089                          ...
            2091                          ...
            2095                          ...
            2097                          ...
            2103                          ...
            2129                          ...
            2146                          ...
            2155                          ...
Albania     2004                          ...
            2010                          ...
            2012                          ...
            2038                          ...
            2056                          ...
            2064                          ...
            2078                          ...
            2079                          ...
            2087                          ...
            2089                          ...
            2091                          ...
            2095                          ...
            2097                          ...
...                                       ...
Zambia      2056                          ...
            2064                          ...
            2078                          ...
            2079                          ...
            2087                          ...
            2089                          ...
            2091                          ...
            2095                          ...
            2097                          ...
            2103                          ...
            2129                          ...
            2146                          ...
            2155                          ...
Zimbabwe    2004                          ...
            2010                          ...
            2012                          ...
            2038                          ...
            2056                          ...
            2064                          ...
            2078                          ...
            2079                          ...
            2087                          ...
            2089                          ...
            2091                          ...
            2095                          ...
            2097                          ...
            2103                          ...
            2129                          ...
            2146                          ...
            2155                          ...

                                                                             \
Year                                                             2008  2009
Country     Metric
Afghanistan 2004                                                 1000  None
            2010    0:14:44.6:7474394:7121145:15:64:53:8901880:844...  None
            2012                                             38:24:38  None
            2038                                                  839  None
            2056                                       715:2.6:273:63  None
            2064                                                2.775  None
            2078                                                  274  None
            2079                                                8:500  None
            2087                                                3.823  None
            2089                                                 None  None
            2091                  154.67:1000:158.88:1000:150.24:1000  None
            2095                                                   15  None
            2097                                     12.13:0.21:87.66  None
            2103                                    15:28.1:43.1:12.6  None
            2129                                                   40  None
            2146                                                27200  None
            2155                                                 0.01  None
Albania     2004                                                 5800  None
            2010    0:14:23.6:447126:406757:15:64:66.9:1239819:118...  None
            2012                                       21.2:20.5:58.3  None
            2038                                                2.892  None
            2056                                          2.782:3.155  None
            2064                                                318.7  None
            2078                                                1.076  None
            2079                                                 1.55  None
            2087                                                3.999  None
            2089                                                    4  None
            2091                     19.31:1000:19.74:1000:18.83:1000  None
            2095                                          1.09:352000  None
            2097                                      20.1:4.21:75.69  None
...                                                               ...   ...
Zambia      2056                                            2.655:2.8  None
            2064                                                  504  None
            2078                                                4.594  None
            2079                                             2.596:31  None
            2087                                                3.611  None
            2089                                                  6.3  None
            2091                   100.96:1000:105.73:1000:96.04:1000  None
            2095                                                4.989  None
            2097                                      6.99:0.04:92.97  None
            2103                                    15:80.6:86.8:74.8  None
            2129                                                   50  None
            2146                                                 1560  None
            2155                                                 16.5  None
Zimbabwe    2004                                                  200  None
            2010    0:14:43.9:2514135:2465715:15:64:52.3:2671164:3...  None
            2012                                       18.1:22.6:59.3  None
            2038                                                9.467  None
            2056                                          2.442:3.017  None
            2064                                                367.7  None
            2078                                                 1.52  None
            2079                                             5.155:31  None
            2087                                                2.183  None
            2089                                                    5  None
            2091                      33.86:1000:36.5:1000:31.14:1000  None
            2095                                                4.032  None
            2097                                      8.24:0.33:91.43  None
            2103                                    15:90.7:94.2:87.2  None
            2129                                                   80    95
            2146                                                 1740  None
            2155                                                 24.6  None

                                                                          \
Year                2010            2011            2012            2013
Country     Metric
Afghanistan 2004    None            None       2013:1800            2000
            2010    None            None            None            None
            2012    None            None  24.6:21.8:53.5            None
            2038    None            None            None            None
            2056    None            None            None      4.91:5.037
            2064    None            None            None            None
            2078    None            None      2013:2.785      2014:2.679
            2079    None            None            None            None
            2087    None            None      2013:11.66      2014:12.19
            2089    None            None             7.7            None
            2091    None            None            None            None
            2095    None            None           7.512           7.983
            2097    None   58.1:2.1:39.8            None            None
            2103    None            None            None            None
            2129    None            None            None            None
            2146    None           21760           32080            None
            2155    None            None            None            0.03
Albania     2004    None            None      2013:11000      2014:11000
            2010    None            None            None            None
            2012    None            None            None  22.6:15.1:62.4
            2038    None            None            None            None
            2056    None            None            None            None
            2064    None            None            None            None
            2078    None            None            None      2014:2.331
            2079    None            None            None   2014:8.209:31
            2087    None            None            None      2014:4.894
            2089    None            None            None            None
            2091    None            None            None            None
            2095    None            None            None            None
            2097    None  43.8:28.3:27.9            None            None
...                  ...             ...             ...             ...
Zambia      2056    None            None            None            None
            2064    None            None            None            None
            2078    None            None            None      2014:10.84
            2079    None            None            None   2014:5.943:31
            2087    None            None            None      2014:9.195
            2089    None            None            None            None
            2091    None            None            None            None
            2095    None            None            None            None
            2097    None     31.7:66.3:2            None            None
            2103    None            None            None            None
            2129    None            None            None            None
            2146    None            None            1560            None
            2155    None            None            None            12.5
Zimbabwe    2004    None            None       2013:1900            2000
            2010    None            None            None            None
            2012    None            None            None            None
            2038    None            None            None            None
            2056    None            None            None            None
            2064    None            None            None            None
            2078    None            None            None      2014:3.144
            2079    None            None            None    2014:8.71:31
            2087    None            None            None      2014:4.571

In [0]:
pd.set_option('display.large_repr', 'truncate')
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 20)

In [0]:
df.reset_index(inplace = True)
df

,Country,Metric,Year,Data
0,Afghanistan,2091,2002,144.76:1000
1,Afghanistan,2091,2003,142.48:1000:145.99:1000:138.8:1000
2,Afghanistan,2091,2004,165.96:1000:170.85:1000:160.82:1000
3,Afghanistan,2091,2005,163.07:1000:167.79:1000:158.12:1000
4,Afghanistan,2091,2006,160.23:1000:164.77:1000:155.45:1000
5,Afghanistan,2091,2007,157.43:1000:161.81:1000:152.83:1000
6,Afghanistan,2091,2008,154.67:1000:158.88:1000:150.24:1000
7,Afghanistan,2091,2015,115.08:1000:122.64:1000:107.15:1000
8,Afghanistan,2091,2016,112.8:1000:120.3:1000:105:1000
9,Afghanistan,2091,2017,110.6:1000:118:1000:102.9:1000
...,...,...,...,...
41667,South Georgia And South Sandwich Islands,2097,2011,0:0:100
41668,South Georgia And South Sandwich Islands,2097,2016,0:0:100
41669,South Georgia And South Sandwich Islands,2097,2017,0:0:100
41670,South Georgia And South Sandwich Islands,2146,2015,0
41671,South Georgia And South Sandwich Islands,2146,2011,0
41672,South Georgia And South Sandwich Islands,2146,2016,0
41673,South Georgia And South Sandwich Islands,2146,2017,0
41674,Saint Barthelemy,2010,2015,0:14:17.36:645:611:15:24:7.03:269:240:25:54:45...
41675,Saint Barthelemy,2010,2016,0:14:16.9:626:592:15:24:7.09:268:243:25:54:44....
41676,Saint Barthelemy,2010,2017,0:14:16.41:606:573:15:24:7.24:274:246:25:54:43...

In [0]:
infant_mortality_rate = df[df['Metric'] == 2091].copy()
infant_mortality_rate

            Country  Metric  Year                                 Data
0       Afghanistan    2091  2002                          144.76:1000
1       Afghanistan    2091  2003   142.48:1000:145.99:1000:138.8:1000
2       Afghanistan    2091  2004  165.96:1000:170.85:1000:160.82:1000
3       Afghanistan    2091  2005  163.07:1000:167.79:1000:158.12:1000
4       Afghanistan    2091  2006  160.23:1000:164.77:1000:155.45:1000
5       Afghanistan    2091  2007  157.43:1000:161.81:1000:152.83:1000
6       Afghanistan    2091  2008  154.67:1000:158.88:1000:150.24:1000
7       Afghanistan    2091  2015  115.08:1000:122.64:1000:107.15:1000
8       Afghanistan    2091  2016       112.8:1000:120.3:1000:105:1000
9       Afghanistan    2091  2017       110.6:1000:118:1000:102.9:1000
...             ...     ...   ...                                  ...
41526  Sint Maarten    2091  2013        9.05:1000:9.84:1000:8.22:1000
41527  Sint Maarten    2091  2016           8.3:1000:9.1:1000:7.6:1000
41528  Sint Maarten    2091  2017           8.1:1000:8.8:1000:7.4:1000
41552   South Sudan    2091  2015     66.39:1000:71.05:1000:61.49:1000
41553   South Sudan    2091  2016        64.6:1000:69.1:1000:59.8:1000
41554   South Sudan    2091  2017        62.8:1000:67.3:1000:58.1:1000
41580       Curacao    2091  2016           7.7:1000:8.3:1000:7.1:1000
41581       Curacao    2091  2017             7.5:1000:8.1:1000:7:1000
41617       Czechia    2091  2016           2.6:1000:2.8:1000:2.5:1000
41618       Czechia    2091  2017           2.6:1000:2.8:1000:2.5:1000

[2268 rows x 4 columns]

In [0]:
def strip_and_extract_values(s, num_values_to_return):
  
  xs = []
  try:
    xs = [float(x) for x in s.strip(':')]
  except:
    xs = [999999.99 for _ in range(num_values_to_return)]
    
  if len(xs) > num_values_to_return:
    return xs[:num_values_to_return]

infant_mortality_rate = infant_mortality_rate.set_index(['Country', 'Metric', 'Year'])
# infant_mortality_rate = infant_mortality_rate.stack()
infant_mortality_rate

infant_mortality_rate = \
  pd.DataFrame(df.Data.str.split(':',1).tolist(), \
                columns = ['Data.1','Data.2'], \
                index = df.index)
# infant_mortality_rate['Data'] = infant_mortality_rate['Data'].apply(strip_and_extract_values, args = ([1]))
infant_mortality_rate

TypeError: ignored

In [0]:
infant_mortality_rate