<a href="https://colab.research.google.com/github/samirgadkari/cia_factbook_analysis/blob/master/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
infant_mortality_rate = pd.read_csv('2091',
                          names = ['Country', 'Metric', 'Year', 
                                   'Deaths per 1000 births'],
                          usecols = ['Country', 'Year', 
                                     'Deaths per 1000 births'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Deaths per 1000 births': np.float64},
                          header = None
                        )
land_use = pd.read_csv('2097',
                          names = ['Country', 'Metric', 'Year', 'Arable Land',
                                   'Permanent Crops', 'Other Land Use'],
                          usecols = ['Country', 'Year', 'Arable Land',
                                   'Permanent Crops', 'Other Land Use'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Arable Land': np.float64,
                                   'Permanent Crops': np.float64,
                                   'Other Land Use': np.float64},
                          header = None
                        )
age_structure = pd.read_csv('2010',
                          names = ['Country', 'Metric', 'Year', 
                                   '% 0-14 years',
                                   '% 15-64 years',
                                   '% 65 and older'],
                          usecols = ['Country', 'Year',  
                                   '% 0-14 years',
                                   '% 15-64 years',
                                   '% 65 and older'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   '% 0-14 years': np.float64,
                                   '% 15-64 years': np.float64,
                                   '% 65 and older': np.float64},
                          header = None
                        )
electricity_production = pd.read_csv('2038',
                          names = ['Country', 'Metric', 'Year', 
                                   'Electricity Produced (kWh)'],
                          usecols = ['Country', 'Year', 
                                     'Electricity Produced (kWh)'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Electricity Produced (kWh)': np.float64},
                          header = None
                        )
irrigated_land = pd.read_csv('2146',
                          names = ['Country', 'Metric', 'Year', 
                                   'Irrigated Land (sq km)'],
                          usecols = ['Country', 'Year', 
                                     'Irrigated Land (sq km)'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Irrigated Land (sq km)': np.float64},
                          header = None
                        )
aids_prevalence_rate = pd.read_csv('2155',
                          names = ['Country', 'Metric', 'Year', 
                                   'HIV/AIDS in adults %'],
                          usecols = ['Country', 'Year', 
                                     'HIV/AIDS in adults %'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'HIV/AIDS in adults %': np.float64},
                          header = None
                        )
literacy_rate = pd.read_csv('2103',
                          names = ['Country', 'Metric', 'Year', 
                                   'Literacy Rate'],
                          usecols = ['Country', 'Year', 
                                     'Literacy Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Literacy Rate': np.float64},
                          header = None
                        )
gdp_per_capita = pd.read_csv('2004',
                          names = ['Country', 'Metric', 'Year', 
                                   'GDP per capita'],
                          usecols = ['Country', 'Year', 
                                     'GDP per capita'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'GDP per capita': np.float64},
                          header = None
                        )
gdp_per_sector = pd.read_csv('2012',
                          names = ['Country', 'Metric', 'Year', 
                                   'GDP - Agriculture', 
                                   'GDP - Industry', 
                                   'GDP - Services'],
                          usecols = ['Country', 'Year', 
                                   'GDP - Agriculture', 
                                   'GDP - Industry', 
                                   'GDP - Services'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'GDP - Agriculture': np.float64,
                                   'GDP - Industry': np.float64,
                                   'GDP - Services': np.float64},
                          header = None
                        )
labor_force = pd.read_csv('2095',
                          names = ['Country', 'Metric', 'Year', 
                                   'Labor Force'],
                          usecols = ['Country', 'Year', 'Labor Force'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Labor Force': np.float64},
                          header = None
                        )
unemployment_rate = pd.read_csv('2129',
                          names = ['Country', 'Metric', 'Year', 
                                   'Unemployment Rate'],
                          usecols = ['Country', 'Year', 
                                     'Unemployment Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Unemployment Rate': np.float64},
                          header = None
                        )
budget = pd.read_csv('2056',
                          names = ['Country', 'Metric', 'Year', 
                                   'Budget - Revenues', 
                                   'Budget - Expenditures'],
                          usecols = ['Country', 'Year', 
                                   'Budget - Revenues', 
                                   'Budget - Expenditures'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Budget - Revenues': np.float64,
                                   'Budget - Expenditures': np.float64},
                          header = None
                        )
industrial_production_growth_rate = pd.read_csv('2089',
                          names = ['Country', 'Metric', 'Year', 
                                   'Industrial Production Growth Rate'],
                          usecols = ['Country', 'Year', 
                                     'Industrial Production Growth Rate'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Industrial Production Growth Rate': np.float64},
                          header = None
                        )
exports = pd.read_csv('2078',
                          names = ['Country', 'Metric', 'Year', 'Exports - USD'],
                          usecols = ['Country', 'Year', 'Exports - USD'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Exports - USD': np.float64},
                          header = None
                        )
imports = pd.read_csv('2087',
                          names = ['Country', 'Metric', 'Year', 'Imports - USD'],
                          usecols = ['Country', 'Year', 'Imports - USD'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'Imports - USD': np.float64},
                          header = None
                        )
external_debt = pd.read_csv('2079',
                          names = ['Country', 'Metric', 'Year', 'External debt'],
                          usecols = ['Country', 'Year', 'External debt'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 'External debt': np.float64},
                          header = None
                        )
economic_aid_recipient = pd.read_csv('2064',
                          names = ['Country', 'Metric', 'Year', 
                                   'Economic Aid received'],
                          usecols = ['Country', 'Year', 'Economic Aid received'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Economic Aid received': np.float64},
                          header = None
                        )
government_type = pd.read_csv('2128',
                          names = ['Country', 'Metric', 'Year', 
                                   'Type of Government'],
                          usecols = ['Country', 'Year', 'Type of Government'],
                          index_col = ['Country', 'Year'],
                          dtype = {'Country': str, 'Metric': np.int32,
                                   'Year': np.int32, 
                                   'Type of Government': str},
                          header = None
                        )

In [27]:
def add_columns_to_df(df1, df2):
  df1 = df1.reset_index()
  df2 = df2.reset_index()
  res = pd.merge(df1, df2, on = ['Country', 'Year'])
  res = res.set_index(['Country', 'Year'])
  return res


all_data = add_columns_to_df(land_use, infant_mortality_rate)

add_dfs = [age_structure, electricity_production, irrigated_land,
            aids_prevalence_rate, literacy_rate, gdp_per_capita,
            gdp_per_sector, labor_force, unemployment_rate,
            budget, industrial_production_growth_rate, exports,
            imports, external_debt, economic_aid_recipient,
            government_type]
for df in add_dfs:
  all_data = add_columns_to_df(all_data, df)

all_data

                 Arable Land  Permanent Crops  Other Land Use  \
Country    Year
Algeria    2002         3.21             0.21           96.58
           2003         3.21             0.21           96.58
           2004         3.22             0.25           96.53
           2005         3.22             0.25           96.53
           2006         3.17             0.28           96.55
Angola     2004         2.41             0.24           97.35
           2005         2.41             0.24           97.35
           2006         2.65             0.23           97.12
           2007         2.65             0.23           97.12
           2008         2.65             0.23           97.12
Argentina  2002         9.14             0.80           90.06
           2003         9.14             0.80           90.06
           2004        12.31             0.48           87.21
           2005        12.31             0.48           87.21
           2006        10.03             0.36           89.61
           2007        10.03             0.36           89.61
           2008        10.03             0.36           89.61
Armenia    2003        17.52             2.30           80.18
           2004        17.55             2.30           80.15
           2005        17.55             2.30           80.15
           2006        16.78             2.01           81.21
           2007        16.78             2.01           81.21
           2008        16.78             2.01           81.21
Azerbaijan 2005        19.63             2.71           77.66
           2006        20.62             2.61           76.77
           2007        20.62             2.61           76.77
           2008        20.62             2.61           76.77
Bahrain    2007         2.82             5.63           91.55
           2008         2.82             5.63           91.55
Bangladesh 2003        60.70             2.61           36.69
...                      ...              ...             ...
Uzbekistan 2007        10.51             0.76           88.73
           2008        10.51             0.76           88.73
Venezuela  2002         2.99             0.96           96.05
           2003         2.99             0.96           96.05
           2004         2.95             0.92           96.13
           2005         2.95             0.92           96.13
           2006         2.85             0.88           96.27
Yemen      2003         2.75             0.21           97.04
           2004         2.78             0.24           96.98
           2005         2.78             0.24           96.98
           2006         2.91             0.25           96.84
           2007         2.91             0.25           96.84
           2008         2.91             0.25           96.84
Zambia     2003         7.08             0.03           92.89
           2004         7.08             0.03           92.90
           2005         7.08             0.03           92.90
           2006         6.99             0.04           92.97
           2007         6.99             0.04           92.97
           2008         6.99             0.04           92.97
Zimbabwe   2002         8.40             0.34           91.26
           2003         8.40             0.34           91.26
           2004         8.32             0.34           91.34
           2005         8.32             0.34           91.34
           2006         8.24             0.33           91.43
           2007         8.24             0.33           91.43
           2008         8.24             0.33           91.43
Macedonia  2005        22.26             1.81           75.93
           2006        22.01             1.79           76.20
           2007        22.01             1.79           76.20
           2008        22.01             1.79           76.20

                 Deaths per 1000 births  % 0-14 years  % 15-64 years  \
Country    Year
Algeria    2002                   39.15          33.5           62.4
           2003                   37.74          32.8           63.0
           2004                   32.16          29.9           65.5
           2005                   31.00          29.0           66.3
           2006                   29.87          28.1           67.1
Angola     2004                  192.50          43.5           53.7
           2005                  191.19          43.4           53.7
           2006                  185.36          43.7           53.5
           2007                  184.44          43.7           53.5
           2008                  182.31          43.6           53.6
Argentina  2002                   17.20          26.3           63.2
           2003                   16.16          26.2           63.4
           2004                   15.66          25.9           63.6
           2005                   15.18          25.6           63.9
           2006                   14.73          25.2           64.1
           2007                   14.29          24.9           64.4
           2008                   11.78          25.8           63.5
Armenia    2003                   40.86          21.1           68.3
           2004                   24.16          22.7           66.7
           2005                   23.28          21.6           67.5
           2006                   22.47          20.5           68.4
           2007                   21.69          19.5           69.3
           2008                   20.94          18.7           70.3
Azerbaijan 2005                   81.74          26.4           65.7
           2006                   79.00          25.8           66.3
           2007                   58.31          25.4           67.7
           2008                   56.43          24.6           68.6
Bahrain    2007                   16.18          26.9           69.5
           2008                   15.64          26.4           69.8
Bangladesh 2003                   66.08          34.1           62.5
...                                 ...           ...            ...
Uzbekistan 2007                   68.89          32.4           62.8
           2008                   24.23          29.0           66.0
Venezuela  2002                   24.58          31.6           63.6
           2003                   23.79          31.0           64.1
           2004                   22.99          30.5           64.5
           2005                   22.20          29.9           65.0
           2006                   21.54          29.1           65.7
Yemen      2003                   65.02          46.8           50.4
           2004                   63.26          46.6           50.6
           2005                   61.50          46.5           50.8
           2006                   59.88          46.4           51.0
           2007                   57.88          46.3           51.1
           2008                   56.27          46.2           51.2
Zambia     2003                   99.29          46.3           50.9
           2004                   98.40          46.1           51.1
           2005                   88.29          46.5           51.1
           2006                   86.84          46.3           51.3
           2007                  100.71          45.7           51.9
           2008                  100.96          45.4           52.3
Zimbabwe   2002                   62.97          37.9           58.4
           2003                   66.47          39.7           56.8
           2004                   67.08          39.4           57.0
           2005                   67.69          39.2           57.1
           2006                   51.71          37.4           59.1
           2007                   51.12          37.2           59.3
           2008                   33.86          43.9           52.3
Macedonia  2005                   10.09          20.5           68.7
           2006                    9.81          20.1           68.9
           2007                    9.53          19.8           69.1
           2008                    9.27          19.5           69.3

                 % 65 and older  Electricity Produced (kWh)  \
Country    Year
Algeria    2002             4.1                      23.556
           2003             4.2                      24.690
           2004             4.6                      24.690
           2005             4.7                      25.760
           2006             4.8                      26.990
Angola     2004             2.8                       1.450
           2005             2.8                       1.707
           2006             2.8                       2.240
           2007             2.8                       2.585
           2008             2.7                       3.513
Argentina  2002            10.5                      82.802
           2003            10.4                      97.170
           2004            10.5                      97.170
           2005            10.6                      81.390
           2006            10.6                      87.160
           2007            10.7                     101.100
           2008            10.8                     109.400
Armenia    2003            10.6                       6.479
           2004            10.6                       6.479
           2005            10.9                       6.492
           2006            11.1                       6.317
           2007            11.2                       5.975
           2008            11.0                       5.544
Azerbaijan 2005             7.8                      17.550
           2006             7.8                      20.000
           2007             7.0                      20.100
           2008             6.8                      23.800
Bahrain    2007             3.7                       8.187
           2008             3.8                       9.233
Bangladesh 2003             3.4                      15.330
...                         ...                         ...
Uzbekistan 2007             4.8                      49.000
           2008             5.0                      48.790
Venezuela  2002             4.8                      80.754
           2003             4.9                      87.600
           2004             5.0                      87.600
           2005             5.1                      89.700
           2006             5.2                      87.440
Yemen      2003             2.8                       3.010
           2004             2.8                       3.010
           2005             2.7                       3.040
           2006             2.6                       3.848
           2007             2.6                       4.456
           2008             2.6                       5.017
Zambia     2003             2.8                       7.751
           2004             2.8                       7.751
           2005             2.4                       8.167
           2006             2.4                       8.347
           2007             2.4                       8.850
           2008             2.4                       9.289
Zimbabwe   2002             3.7                       6.425
           2003             3.5                       6.735
           2004             3.6                       6.735
           2005             3.7                       8.839
           2006             3.5                       8.877
           2007             3.5                       9.950
           2008             3.9                       9.467
Macedonia  2005            10.8                       6.273
           2006            11.0                       6.271
           2007            11.1                       5.935
           2008            11.3                       6.051

                 Irrigated Land (sq km)  HIV/AIDS in adults %  \
Country    Year
Algeria    2002                  5600.0                  0.07
           2003                  5600.0                  0.10
           2004                  5600.0                  0.10
           2005                  5600.0                  0.10
           2006                  5690.0                  0.10
Angola     2004                   750.0                  3.90
           2005                   750.0                  3.90
           2006                   800.0                  3.90
           2007                   800.0                  3.90
           2008                   800.0                  3.90
Argentina  2002                 15610.0                  0.69
           2003                 15610.0                  0.70
           2004                 15610.0                  0.70
           2005                 15610.0                  0.70
           2006                 15500.0                  0.70
           2007                 15500.0                  0.70
           2008                 15500.0                  0.70
Armenia    2003                  2870.0                  0.20
           2004                  2870.0                  0.10
           2005                  2870.0                  0.10
           2006                  2860.0                  0.10
           2007                  2860.0                  0.10
           2008                  2860.0                  0.10
Azerbaijan 2005                 14550.0                  0.10
           2006                 14550.0                  0.10
           2007                 14550.0                  0.10
           2008                 14550.0                  0.10
Bahrain    2007                    40.0                  0.20
           2008                    40.0                  0.20
Bangladesh 2003                 38440.0                  0.10
...                                 ...                   ...
Uzbekistan 2007                 42810.0                  0.10
           2008                 42810.0                  0.10
Venezuela  2002                   540.0                  0.49
           2003                   540.0                  0.50
           2004                   540.0                  0.50
           2005                   540.0                  0.70
           2006                  5750.0                  0.70
Yemen      2003                  4900.0                  0.10
           2004                  4900.0                  0.10
           2005                  4900.0                  0.10
           2006                  5500.0                  0.10
           2007                  5500.0                  0.10
           2008                  5500.0                  0.10
Zambia     2003                   460.0                 21.50
           2004                   460.0                 16.50
           2005                   460.0                 16.50
           2006                  1560.0                 16.50
           2007                  1560.0                 16.50
           2008                  1560.0                 16.50
Zimbabwe   2002                  1170.0                 25.06
           2003                  1170.0                 33.70
           2004                  1170.0                 33.70
           2005                  1170.0                 24.60
           2006                  1740.0                 24.60
           2007                  1740.0                 24.60
           2008                  1740.0                 24.60
Macedonia  2005                   550.0                  0.10
           2006                   550.0                  0.10
           2007                   550.0                  0.10
           2008                   550.0                  0.10

                          ...             Labor Force  Unemployment Rate  \
Country    Year           ...
Algeria    2002           ...                   9.400               34.0
           2003           ...                   9.400               31.0
           2004           ...                   9.600               26.2
           2005           ...                   9.910               25.4
           2006           ...                  10.150               17.1
Angola     2004           ...                   5.570                NaN
           2005           ...                   5.410                NaN
           2006           ...                   5.580                NaN
           2007           ...                   6.444                NaN
           2008           ...                   7.148                NaN
Argentina  2002           ...                  15.000               25.0
           2003           ...                  15.000               17.3
           2004           ...                  14.920               17.3
           2005           ...                  15.040               14.8
           2006           ...                  15.340               11.6
           2007           ...                  15.760                8.7
           2008           ...                  16.030                8.5
Armenia    2003           ...                   1.400               20.0
           2004           ...                   1.400               20.0
           2005           ...                   1.400               30.0
           2006           ...                   1.200               31.6
           2007           ...                   1.200                7.4
           2008           ...                   1.200                7.1
Azerbaijan 2005           ...                   5.090                1.2
           2006           ...                   5.450                1.1
           2007           ...                   5.165                1.2
           2008           ...                   5.243                1.0
Bahrain    2007           ...              352000.000               15.0
           2008           ...              437000.000               15.0
Bangladesh 2003           ...                1998.000               40.0
...                       ...                     ...                ...
Uzbekistan 2007           ...                  14.430                3.0
           2008           ...                  14.600                0.8
Venezuela  2002           ...                1999.000               14.1
           2003           ...                   9.900               17.0
           2004           ...                  11.380               18.0
           2005           ...                  12.250               17.1
           2006           ...                  12.310               12.2
Yemen      2003           ...                   5.790               30.0
           2004           ...                   5.790               35.0
           2005           ...                   5.980               35.0
           2006           ...                   5.830               35.0
           2007           ...                   5.972               35.0
           2008           ...                   6.305               35.0
Zambia     2003           ...                   4.290               50.0
           2004           ...                   4.590               50.0
           2005           ...                   4.630               50.0
           2006           ...                   4.800               50.0
           2007           ...                   4.920               50.0
           2008           ...                   4.989               50.0
Zimbabwe   2002           ...                   5.500               60.0
           2003           ...                   5.800               70.0
           2004           ...                   4.170               70.0
           2005           ...                   4.230               70.0
           2006           ...                   3.940               80.0
           2007           ...                   3.990               80.0